<%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%>
<%@include file="/WEB-INF/jsp/common/taglibs.jsp"%>
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
<jsp:include page="/WEB-INF/jsp/common/style.jsp"></jsp:include>
</head>
<body>
	<div class="easyui-panel" title="&nbsp;" style="width:500px">
		<div style="padding:10px 60px 20px 60px">
	    <form id="${key}Form" method="post">
	    	<input type="hidden" id="${primaryKey}" name="${primaryKey}">
	    	<table cellpadding="5">
	    		<#list noCommonFieldList as field>
				  <#if field.priKey?c ='false'>
	    		<tr>
	    			<td align="right">${field.comment}:</td>
	    			<#if field.nullable?c='true'>
	    			<td><input class="textbox" type="text" id="${field.name}" name="${field.name}"></input></td>
	    			</#if>
	    			<#if field.nullable?c='false'>
	    			<td><input class="easyui-validatebox textbox" type="text" id="${field.name}" name="${field.name}" data-options="required:true"></input></td>
	    			</#if>
	    		</tr>
	    		 </#if>
				</#list>
	    		
	    	</table>
	    </form>
	    <div style="text-align:center;padding:5px">
	    	<a href="javascript:void(0)" id="submitForm" class="easyui-linkbutton" onclick="submitForm_add();">提交</a>
	    </div>
	    </div>
	</div>
	
	<script type="text/javascript" src="${propertyPrefix}resRoot${propertyPostfix}/js/${key}/${key}Edit.js"></script>
</body>
</html>