<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${key}">
	<!-- ${ZhKey}resultMap -->
	<resultMap id="${key}ResultMap" type="${EntityClass}" >
	<#list fieldList as field>
		<result property="${field.name}" column="${field.columnName}"></result>
	</#list> 
	</resultMap>
	<!-- 插入${ZhKey}记录 -->
	<insert id="insert${UpperKey}">
		INSERT INTO ${tableName} 
			( 
			<#list fieldList as field>
			  <#if field.priKey?c ='false'>
			  	${field.columnName}<#if field_has_next>,</#if>
			  </#if>
			</#list>
			)
			VALUES
			(
		<#list fieldList as field>
			 <#if field.priKey?c ='false'>
			  	${propertyPrefix}${field.name}${propertyPostfix}<#if field_has_next>,</#if>
			  </#if>
		</#list>
			) 
	</insert>
	<!-- 更新${ZhKey}记录 -->
	<update id="update${UpperKey}">
		update ${tableName} set  
		<#list noCommonFieldList as field>
			<#if field.priKey?c ='false'>
			${field.columnName}=${propertyPrefix}${field.name}${propertyPostfix},
			</#if>
		</#list> 
			update_by = ${propertyPrefix}updateUser${propertyPostfix},
			update_time=${propertyPrefix}updateTime${propertyPostfix}
		 where ${primaryColumn}=${propertyPrefix}${primaryKey}${propertyPostfix}
	</update>
	<!-- 分页查询记录 -->
	<select id="query${UpperKey}sByPage" parameterType="${EntityClass}" resultMap="${key}ResultMap">
		SELECT 
		<#list fieldList as field>
			${field.columnName}<#if field_has_next>,</#if>
		</#list> 
		 FROM ${tableName} where delete_mark=0
	</select>
	<!-- 根据主键查询${ZhKey}记录 -->
	<select id="query${UpperKey}ById"  resultMap="${key}ResultMap">
		select 
		<#list fieldList as field>
			${field.columnName}<#if field_has_next>,</#if>
		</#list> 
		from ${tableName} where ${primaryColumn}=${propertyPrefix}${primaryKey}${propertyPostfix}
	</select>
	<!-- 删除${ZhKey}记录 -->
	<delete id="delete${UpperKey}"  parameterType="${EntityClass}">
		update ${tableName} set delete_mark=1,update_by=${propertyPrefix}updateUser${propertyPostfix},update_time=${propertyPrefix}updateTime${propertyPostfix} where ${primaryColumn}=${propertyPrefix}${primaryKey}${propertyPostfix}
	</delete>
</mapper>