<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xmlns:p="http://www.springframework.org/schema/p" 
	 xmlns:context="http://www.springframework.org/schema/context" 
	 xmlns:mvc="http://www.springframework.org/schema/mvc" xsi:schemaLocation="  
    http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans.xsd  
    http://www.springframework.org/schema/context  
    http://www.springframework.org/schema/context/spring-context.xsd  
    http://www.springframework.org/schema/mvc  
    http://www.springframework.org/schema/mvc/spring-mvc.xsd ">  
<!--     <import resource=""/> -->
            <!-- 注解探测器 -->   
         <context:component-scan base-package="com.wade.framework"/>  
         <context:annotation-config/>
         <mvc:annotation-driven conversion-service="conversionService"/>
<!--          <context:property-placeholder location=""/>     -->
           <!--  annotation默认的方法映射适配器 -->  
           <bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
           		<property name="converters">
           			<list>
           				<bean class="com.wade.framework.base.converter.DateStringConverter"/>
           				<bean class="com.wade.framework.base.converter.StringDateConverter"/>
           				<bean class="com.wade.framework.base.converter.TimestampStringConverter"/>
           				<bean class="com.wade.framework.base.converter.StringTimestampConverter"/>
           			</list>
           		</property>
           </bean> 
           <bean id="jspViewReslver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
           		<property name="prefix" value="/WEB-INF/jsp/"></property>
           		<property name="suffix" value=".jsp"></property>
           		<property name="contentType" value="text/html;charset=utf-8"></property>
           </bean>

           
<!--           <mvc:interceptors> -->
<!--           		<mvc:interceptor> -->
<!--           			<mvc:mapping path=""/> -->
<!--           			<mvc:exclude-mapping path=""/> -->
<!--           			<bean></bean> -->
<!--           		</mvc:interceptor> -->
<!--           </mvc:interceptors> -->
</beans>